
/* Customize search input */

@media(min-width: 1024px) {
    .searchInput {
        min-width: 550px;
    }
}

.brandImage {
    width: 20%;
}

.brandText {
    font-family: 'Fredoka One', cursive;
}

.brandText:hover {
    color: var(--primary-color);
    text-shadow: 1px 1px 1px #fff;
}