/* color */
.primaryColor {
    color: var(--primary-color);
}

.bgMainColor {
    background-color: var(--bg-main-color);
}

/* Footer customize */

.footerBrand {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
}

.footerBrand:hover {
    color: var(--primary-color);
    text-shadow: 1px 1px 1px #fff;
}

.brandImage {
    width: 10%;
}

.brandText {
    font-family: 'Fredoka One', cursive;
}

.footerTitle {
    font-size: 1.2em;
    color: #fff;
}

.footerText {
    color: #fff;
    font-weight: 400;
    font-size: 0.9em;
    text-align: justify;
    margin: 10px 0;
}

.footerImg .googleImg{
    width: 130px;
}
.footerImg .appleImg{
    width: 100px;
}
.footerImg .imageSocial{
    width: 50px;
}

.pinterest {
    padding: .5rem;
}

.footerList {
    margin: 10px 0;
    list-style: none;
    padding: 0;
    font-size: 1.2em;
}
@media(min-width: 1024px) {
    .footerList {
        margin: 5px 0 5px 10px;
    }
}

.footerList a {
    color: #fff;
    text-decoration: none;
}

.footerList a:hover {
    color: var(--primary-color);
}

.copyright {
    border-top: solid #fff;
}